<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ouchadam.fang"
          android:versionCode="14"
          android:versionName="0.1.15">

  <uses-sdk
    android:minSdkVersion="14"
    android:targetSdkVersion="19"/>

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
  <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
  <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

  <application
    android:label="@string/app_name"
    android:icon="@drawable/ic_launcher"
    android:theme="@style/FangTheme">

    <activity
      android:name=".presentation.controller.FragmentControllerActivity"
      android:label="@string/app_name"
      android:launchMode="singleTop">

      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <meta-data
        android:name="android.app.default_searchable"
        android:value=".presentation.controller.SearchActivity"/>

    </activity>


      <activity
          android:name=".presentation.controller.TopTenActivity"
          android:label="Top Ten"/>

    <activity
      android:name=".presentation.controller.SearchActivity"
      android:label="Search">


      <intent-filter>
        <action android:name="android.intent.action.SEARCH"/>
      </intent-filter>

      <meta-data
        android:name="android.app.searchable"
        android:resource="@xml/searchable"/>

    </activity>

    <activity
      android:name=".debug.DebugActivity"
      android:label="@string/app_name"/>

    <activity android:name=".presentation.controller.ChannelActivity"/>
    <activity
      android:name=".presentation.controller.DetailsActivity"
      android:label="@string/activity_details_label"
      android:theme="@style/FangDetailsTheme"/>
    <activity android:name=".setting.SettingsActivity"/>

    <service android:name=".audio.AudioService"/>
    <service android:name=".notification.NotificationService"/>
    <service android:name=".debug.ChannelFeedDownloadService"/>

    <service android:name=".presentation.item.PlaylistAddService">
        <intent-filter>
            <action android:name="playlistAddService"/>
        </intent-filter>
    </service>

    <service
      android:name=".sync.FangSyncService"
      android:exported="true">
      <intent-filter>
        <action android:name="android.content.SyncAdapter"/>
      </intent-filter>
      <meta-data
        android:name="android.content.SyncAdapter"
        android:resource="@xml/sync_provider"/>
    </service>

    <service android:name=".sync.accounts.GenericAccountService">
      <intent-filter>
        <action android:name="android.accounts.AccountAuthenticator"/>
      </intent-filter>
      <meta-data
        android:name="android.accounts.AccountAuthenticator"
        android:resource="@xml/authenticator"/>
    </service>

    <receiver android:name=".notification.NotificationReceiver">
      <intent-filter>
        <action android:name="com.fang.notification.PLAY"/>
        <action android:name="com.fang.notification.PAUSE"/>
      </intent-filter>
    </receiver>

    <receiver android:name=".audio.RemoteHelper$MusicIntentReceiver">
      <intent-filter>
        <action android:name="android.intent.action.MEDIA_BUTTON"/>
      </intent-filter>
    </receiver>

    <!-- PROVIDERS -->
    <provider
      android:name=".persistance.FangProvider"
      android:authorities="com.ouchadam.fang"
      android:exported="false"/>

  </application>

</manifest>
